@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000320}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003101}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000316}}
.-sg-color-green {
  background-color: #7ba32d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000320}}
.-sg-color-dark-green {
  background-color: #73801d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000324}}
.-sg-color-light-green {
  background-color: #7fc52d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000328}}
.-sg-color-orange {
  background-color: #c48726;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000332}}
.-sg-color-red {
  background-color: #f21905;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000342}}
.-sg-color-black {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000346}}
.-sg-color-darkest-grey {
  background-color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000350}}
.-sg-color-dark-grey {
  background-color: #2e2e2e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000354}}
.-sg-color-medium-grey {
  background-color: #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000358}}
.-sg-color-light-grey {
  background-color: #bbbbbb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000362}}
.-sg-color-lightest-grey {
  background-color: #fcfcfc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000370}}
.-sg-color-feedback-positive {
  background-color: #4cff03;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000374}}
.-sg-color-feedback-neutral {
  background-color: #c48726;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000378}}
.-sg-color-feedback-negative {
  background-color: #f21905;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000386}}
.-sg-color-action-standard {
  background-color: #00beff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_colors\.lib\.sass}line{font-family:\0000390}}
.-sg-color-action-cta {
  background-color: #4cff03;
}

@font-face {
  font-family: "Droid Serif";
  src: url("/fonts/DroidSerif/DroidSerif-Regular-webfont.eot");
  src: local("☺"), url("/fonts/DroidSerif/DroidSerif-Regular-webfont.woff") format("woff"), url("/fonts/DroidSerif/DroidSerif-Regular-webfont.ttf") format("truetype"), url("/fonts/DroidSerif/DroidSerif-Regular-webfont.svg#webfontEtSsk1JN") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid Serif";
  src: url("/fonts/DroidSerif/DroidSerif-Italic-webfont.eot");
  src: local("☺"), url("/fonts/DroidSerif/DroidSerif-Italic-webfont.woff") format("woff"), url("/fonts/DroidSerif/DroidSerif-Italic-webfont.ttf") format("truetype"), url("/fonts/DroidSerif/DroidSerif-Italic-webfont.svg#webfontNZohlgxV") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Droid Serif";
  src: url("/fonts/DroidSerif/DroidSerif-Bold-webfont.eot");
  src: local("☺"), url("/fonts/DroidSerif/DroidSerif-Bold-webfont.woff") format("woff"), url("/fonts/DroidSerif/DroidSerif-Bold-webfont.ttf") format("truetype"), url("/fonts/DroidSerif/DroidSerif-Bold-webfont.svg#webfontKcmVwBB9") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Droid Serif";
  src: url("/fonts/DroidSerif/DroidSerif-BoldItalic-webfont.eot");
  src: local("☺"), url("/fonts/DroidSerif/DroidSerif-BoldItalic-webfont.woff") format("woff"), url("/fonts/DroidSerif/DroidSerif-BoldItalic-webfont.ttf") format("truetype"), url("/fonts/DroidSerif/DroidSerif-BoldItalic-webfont.svg#webfont8zI8rTdy") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* ============================== */
/* ! Layout for desktop version */
/* ============================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_layout\.sass}line{font-family:\000035}}
body {
  background-color: black;
}

/* ============================= */
/* ! Layout for mobile version */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_layout\.sass}line{font-family:\0000312}}
  body {
    background-color: green;
  }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4 */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
   *		background: url(logo2x.jpg) no-repeat;
   *		background-size: 212px 303px;
   *	} */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\0000350}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\0000360}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\0000362}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\0000364}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\0000366}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\000031}}
body {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 14px;
  line-height: 1.286;
  text-shadow: black 1px 1px 0px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 16px;
  line-height: 1.35;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\000034}}
.typo-large {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 16px;
  line-height: 1.35;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\000037}}
p {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\000039}}
p.last {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000316}}
h1 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 18px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000319}}
h2 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 18px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000322}}
h3 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 18px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000325}}
h4 {
  font-size: 14px;
  line-height: 1.286;
  margin-bottom: 18px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000328}}
h5 {
  font-size: 14px;
  line-height: 1.286;
  margin-bottom: 18px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000331}}
h6 {
  font-size: 14px;
  line-height: 1.286;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000338}}
ol {
  list-style-position: outside;
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000342}}
ol li li {
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000345}}
ul {
  list-style-position: outside;
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000349}}
ul li li {
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000352}}
dl {
  margin-bottom: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000354}}
dl dt {
  font-size: 14px;
  line-height: 1.286;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000361}}
hr {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 17px;
  height: 1px;
  background-color: #fcfcfc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000367}}
pre {
  font-family: "Andale Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Courier New", Courier, monospace;
  margin-bottom: 36px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000372}}
blockquote * {
  quotes: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003149}}
blockquote > *:before {
  content: "“";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003151}}
blockquote > *:after {
  content: "”";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003149}}
blockquote q:before {
  content: "‘";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003151}}
blockquote q:after {
  content: "’";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003149}}
*[lang~='de'] blockquote > *:before, blockquote[lang~='de'] > *:before {
  content: "«";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003151}}
*[lang~='de'] blockquote > *:after, blockquote[lang~='de'] > *:after {
  content: "»";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003149}}
*[lang~='de'] blockquote q:before, blockquote[lang~='de'] q:before {
  content: "›";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003151}}
*[lang~='de'] blockquote q:after, blockquote[lang~='de'] q:after {
  content: "‹";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000390}}
a {
  color: #00beff;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000393}}
a:visited, a.visited {
  color: #00beff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000395}}
a:focus, a.focus {
  color: #66d8ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\0000397}}
a:hover, a.hover {
  color: #66d8ff;
  border-bottom: 1px dotted #66d8ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003100}}
a:active, a.active {
  color: #4cff03;
  border-bottom: 1px dotted #4cff03;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003108}}
em {
  font-style: italic;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003112}}
strong {
  font-style: italic;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003115}}
small {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 11px;
  line-height: 1.636;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003119}}
cite {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003138}}
q {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003149}}
q:before {
  content: "“";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003151}}
q:after {
  content: "”";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003149}}
q q:before {
  content: "‘";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003151}}
q q:after {
  content: "’";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003149}}
*[lang~='de'] q:before, q[lang~='de']:before {
  content: "«";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003151}}
*[lang~='de'] q:after, q[lang~='de']:after {
  content: "»";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003149}}
*[lang~='de'] q q:before, q[lang~='de'] q:before {
  content: "›";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.lib\.sass}line{font-family:\00003151}}
*[lang~='de'] q q:after, q[lang~='de'] q:after {
  content: "‹";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003148}}
dfn {
  border-bottom: 1px dotted white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003151}}
abbr {
  border-bottom: 1px dotted white;
  cursor: help;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003155}}
code, var, samp, kbd {
  font-family: "Andale Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Courier New", Courier, monospace;
  background-color: #fcfcfc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003159}}
sub, sup {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 11px;
  line-height: 1.636;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003162}}
sub {
  vertical-align: sub;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003164}}
sup {
  vertical-align: super;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003167}}
i {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003170}}
b {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003173}}
mark {
  background-color: #c48726;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003182}}
del {
  text-decoration: line-through;
  color: #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003186}}
ins {
  text-decoration: underline;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003190}}
.bold {
  font-family: BellGothic-Black, Verdana, sans-serif;
  font-size: 90%;
  vertical-align: baseline;
  letter-spacing: 0.2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_typography\.sass}line{font-family:\00003196}}
.slashes {
  font-size: 92%;
  vertical-align: top;
}

/* ============================== */
/* ! Layout for desktop version */
/* ============================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_layout\.sass}line{font-family:\000035}}
body {
  background-color: black;
}

/* ============================= */
/* ! Layout for mobile version */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_layout\.sass}line{font-family:\0000312}}
  body {
    background-color: green;
  }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4 */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
   *		background: url(logo2x.jpg) no-repeat;
   *		background-size: 212px 303px;
   *	} */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.sass}line{font-family:\000037}}
form.standard-base, form.standard-rows, form.standard-columns-left, form.standard-columns-right {
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\000032}}
form.standard-base abbr, form.standard-rows abbr, form.standard-columns-left abbr, form.standard-columns-right abbr {
  color: #00beff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\000034}}
form.standard-base .step-hint, form.standard-rows .step-hint, form.standard-columns-left .step-hint, form.standard-columns-right .step-hint {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 11px;
  line-height: 1.636;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #888888;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\000037}}
form.standard-base .substep label, form.standard-rows .substep label, form.standard-columns-left .substep label, form.standard-columns-right .substep label, form.standard-base label.error-message, form.standard-rows label.error-message, form.standard-columns-left label.error-message, form.standard-columns-right label.error-message {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 14px;
  line-height: 1.286;
  text-shadow: black 1px 1px 0px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #888888;
  display: block;
  margin-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000313}}
form.standard-base .subglobal-errors, form.standard-rows .subglobal-errors, form.standard-columns-left .subglobal-errors, form.standard-columns-right .subglobal-errors {
  margin-top: 4.5px;
  margin-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000316}}
form.standard-base .subglobal-errors label.error-message, form.standard-rows .subglobal-errors label.error-message, form.standard-columns-left .subglobal-errors label.error-message, form.standard-columns-right .subglobal-errors label.error-message {
  border-left: 3px solid #f21905;
  padding-left: 10px;
  margin-bottom: 1px;
  line-height: 1.455;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000321}}
form.standard-base .subglobal-errors label.error-message span, form.standard-rows .subglobal-errors label.error-message span, form.standard-columns-left .subglobal-errors label.error-message span, form.standard-columns-right .subglobal-errors label.error-message span {
  border-bottom: 1px dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000323}}
form.standard-base .hint, form.standard-rows .hint, form.standard-columns-left .hint, form.standard-columns-right .hint {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 11px;
  line-height: 1.636;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #888888;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000326}}
form.standard-base .error, form.standard-rows .error, form.standard-columns-left .error, form.standard-columns-right .error {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000328}}
form.standard-base .error .error-message, form.standard-rows .error .error-message, form.standard-columns-left .error .error-message, form.standard-columns-right .error .error-message {
  color: #f21905;
  padding-left: 5px;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000335}}
form.standard-base ol, form.standard-rows ol, form.standard-columns-left ol, form.standard-columns-right ol, form.standard-base ul, form.standard-rows ul, form.standard-columns-left ul, form.standard-columns-right ul {
  list-style: none;
  list-style-position: outside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000337}}
form.standard-base li, form.standard-rows li, form.standard-columns-left li, form.standard-columns-right li {
  margin: 0;
  padding: 0;
  border: 0;
  *zoom: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
form.standard-base li:after, form.standard-rows li:after, form.standard-columns-left li:after, form.standard-columns-right li:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000344}}
form.standard-base .step-title, form.standard-rows .step-title, form.standard-columns-left .step-title, form.standard-columns-right .step-title {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000346}}
form.standard-base .step-content, form.standard-rows .step-content, form.standard-columns-left .step-content, form.standard-columns-right .step-content {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
form.standard-base .step-content:after, form.standard-rows .step-content:after, form.standard-columns-left .step-content:after, form.standard-columns-right .step-content:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000348}}
form.standard-base li .substep, form.standard-rows li .substep, form.standard-columns-left li .substep, form.standard-columns-right li .substep {
  display: inline;
  float: left;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.lib\.sass}line{font-family:\0000352}}
form.standard-base .error, form.standard-rows .error, form.standard-columns-left .error, form.standard-columns-right .error {
  padding-left: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.sass}line{font-family:\0000313}}
form.standard-rows .step-content, form.standard-columns-left .step-content, form.standard-columns-right .step-content, form.standard-rows .subglobal-errors, form.standard-columns-left .subglobal-errors, form.standard-columns-right .subglobal-errors {
  width: 367px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.sass}line{font-family:\0000315}}
form.standard-rows .step-hint, form.standard-columns-left .step-hint, form.standard-columns-right .step-hint {
  width: 143px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.sass}line{font-family:\0000317}}
form.standard-rows input[type=text], form.standard-columns-left input[type=text], form.standard-columns-right input[type=text], form.standard-rows input[type=password], form.standard-columns-left input[type=password], form.standard-columns-right input[type=password], form.standard-rows input[type=email], form.standard-columns-left input[type=email], form.standard-columns-right input[type=email], form.standard-rows textarea, form.standard-columns-left textarea, form.standard-columns-right textarea {
  font-size: 16px;
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_forms\.sass}line{font-family:\0000325}}
form.standard-columns-right .step-title {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\000034}}
header {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 36px;
  position: relative;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000311}}
header canvas {
  position: absolute;
  right: 0px;
  top: 36px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000316}}
.logo a {
  font-size: 60px;
  line-height: 1;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #4cff03;
  -webkit-transition-property: text-shadow;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: text-shadow;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-property: text-shadow;
  -o-transition-duration: 1s;
  -o-transition-timing-function: linear, ease-in;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000333}}
.logo a:hover {
  border-bottom: none;
  text-shadow: 0 0 10px #1e6900, 0 0 20px #1e6900, 0 0 30px #2d9c00, 0 0 40px #4cff03, 0 0 70px #4cff03, 0 0 80px #4cff03, 0 0 100px #4cff03, 0 0 150px #4cff03;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000336}}
.claim {
  font-size: 18px;
  line-height: 1.5em;
  font-style: italic;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: inline;
  float: left;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000343}}
.additional {
  letter-spacing: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000346}}
nav {
  color: white;
  line-height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000349}}
nav a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000351}}
nav a:visited, nav a.visited {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000353}}
nav a:hover, nav a.hover {
  color: #66d8ff;
  border-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000356}}
nav a:active, nav a.active {
  color: #4cff03;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000359}}
nav ol {
  display: inline;
  float: right;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000362}}
nav li {
  display: inline;
  float: left;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000365}}
nav li > a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 0 15px;
  background: #222222;
  display: block;
  -webkit-transition-property: color, background;
  -webkit-transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: color, background;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-property: color, background;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: linear, ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000379}}
nav li > a:hover {
  background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 40, from(rgba(63, 63, 63, 0.8)), to(rgba(63, 63, 63, 0))), #222222;
  background: -moz-radial-gradient(50% 100% 45deg, circle, rgba(63, 63, 63, 0.75) 0%, #222222 40px);
  color: #ffed22;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_header\.sass}line{font-family:\0000383}}
nav li > a:active {
  margin-top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\000031}}
.facets {
  line-height: 36px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\000033}}
.address {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\000037}}
.aspect.small {
  font-size: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\000039}}
.aspect.middle {
  line-height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000311}}
.aspect.large {
  font-size: 17px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000313}}
p {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000315}}
p h1, p h2, p h3 {
  display: inline;
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 16px;
  line-height: 1.35;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000318}}
figure {
  margin: 5px;
  display: block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 5px #222222;
  -webkit-box-shadow: 0px 0px 5px #222222;
  -o-box-shadow: 0px 0px 5px #222222;
  box-shadow: 0px 0px 5px #222222;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000324}}
figure figcaption {
  background: black;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  line-height: 36px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000339}}
figure:hover figcaption {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000342}}
figure.home {
  width: 370px;
  height: 245px;
  background: transparent url('/images/greg.png?1296997518') 0px -20px no-repeat;
  display: inline;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000347}}
figure.football {
  width: 370px;
  height: 245px;
  background: transparent url('/images/football.png?1297704344') -170px -5px no-repeat;
  display: inline;
  float: left;
  margin-right: 30px;
  width: 190px;
  height: 148px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000355}}
figure.bike {
  background: transparent url('/images/bike.png?1297704322') 0px -10px no-repeat;
  display: inline;
  float: left;
  margin-right: 30px;
  width: 190px;
  height: 148px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000361}}
figure.triathlon {
  background: transparent url('/images/triathlon.png?1297704305') -70px -115px no-repeat;
  display: inline;
  float: left;
  margin-right: 30px;
  width: 190px;
  height: 148px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000368}}
.about article {
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000373}}
.about article:hover {
  background: #222222;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000376}}
.about p {
  padding-top: 9px;
  padding-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000380}}
footer {
  line-height: 36px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000383}}
footer ol {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000360}}
footer ol li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000348}}
footer ol li:first-child, footer ol li.first {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000349}}
footer ol li:last-child {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.2-p290\@araso\.de\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000350}}
footer ol li.last {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000387}}
footer .twitter a {
  display: block;
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_home\.sass}line{font-family:\0000390}}
footer .twitter a:hover {
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_projects\.sass}line{font-family:\000031}}
.project {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(60%, #222222), color-stop(100%, #2e2e2e));
  background-image: -webkit-linear-gradient(top, #222222, #222222 60%, #2e2e2e);
  background-image: -moz-linear-gradient(top, #222222, #222222 60%, #2e2e2e);
  background-image: -o-linear-gradient(top, #222222, #222222 60%, #2e2e2e);
  background-image: -ms-linear-gradient(top, #222222, #222222 60%, #2e2e2e);
  background-image: linear-gradient(top, #222222, #222222 60%, #2e2e2e);
  margin-bottom: 18px;
  -webkit-transition-property: background;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: background;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-property: background;
  -o-transition-duration: 1s;
  -o-transition-timing-function: linear, ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_projects\.sass}line{font-family:\0000313}}
.project:hover {
  background: radial-gradient(center 45deg, circle closest-corner, rgba(255, 0, 255, 0.8) 30%, rgba(108, 0, 255, 0.8) 40%);
  background: -webkit-gradient(radial, 50% 35%, 50, 50% 35%, 90, from(rgba(255, 0, 255, 0.8)), color-stop(0.4, rgba(108, 0, 255, 0.8)), to(#2e2e2e));
  background: -moz-radial-gradient(50% 35% 45deg, circle, rgba(255, 0, 255, 0.8) 30%, rgba(108, 0, 255, 0.8) 40%, #2e2e2e 90px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_projects\.sass}line{font-family:\0000317}}
.project > figure {
  margin: 0 0 9px 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_projects\.sass}line{font-family:\0000320}}
.project > figure a {
  display: block;
  height: 125px;
  width: 180px;
  -moz-box-shadow: 0px 1px 3px black;
  -webkit-box-shadow: 0px 1px 3px black;
  -o-box-shadow: 0px 1px 3px black;
  box-shadow: 0px 1px 3px black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_projects\.sass}line{font-family:\0000325}}
.project > figure a:hover {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_projects\.sass}line{font-family:\0000327}}
.project h2, .project h3 {
  padding: 9px;
  margin-bottom: 0px;
  line-height: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/_projects\.sass}line{font-family:\0000332}}
.project .info {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 11px;
  line-height: 1.636;
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  height: 36px;
  padding-top: 0px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
}
