@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\000031}}
h1.-sg {
  border-bottom: 1px dotted #d8d8d8;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #222222;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  line-height: 36px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000310}}
h2.-sg {
  font-size: 18px;
  margin-bottom: 18px;
  margin-top: 36px;
  font-weight: bold;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000318}}
a.-sg {
  color: #727272;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000321}}
a.-sg:visited, a.-sg.visited {
  color: #727272;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000323}}
a.-sg:focus, a.-sg.focus {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000325}}
a.-sg:hover, a.-sg.hover {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000327}}
a.-sg:active, a.-sg.active {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000330}}
hr.-sg {
  clear: both;
  color: white;
  border: 0;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000340}}
body {
  margin-bottom: 36px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000343}}
#-sg-container {
  width: 950px;
  margin: 0 auto 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000346}}
#-sg-container .-sg-baseline-debug {
  background: transparent url('/images/catwalk/baseline9.png?1291209209') repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000348}}
#-sg-container .-sg-main-col {
  float: left;
  display: inline;
  width: 620px;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000353}}
#-sg-container .-sg-aside-col {
  float: left;
  display: inline;
  width: 310px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000362}}
#-sg-nav {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  list-style: none;
  margin: 0 0 36px 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px dotted #d8d8d8;
  font-size: 15px;
  line-height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000371}}
#-sg-nav li {
  float: left;
  display: inline;
  margin: 0;
  padding-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000381}}
.-sg-color-box {
  width: 110px;
  float: left;
  display: inline;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000386}}
.-sg-color-box .-sg-color-preview {
  height: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/styleguide\.sass}line{font-family:\0000388}}
.-sg-color-box p {
  padding: 0 5px;
  font-weight: bold;
}
