@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\000031}}
.onecol {
  width: 4.7%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\000034}}
.twocol {
  width: 13.2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\000037}}
.threecol {
  width: 22.05%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\0000310}}
.fourcol {
  width: 30.6%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\0000313}}
.fivecol {
  width: 39%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\0000316}}
.sixcol {
  width: 48%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\0000319}}
.sevencol {
  width: 56.75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\0000322}}
.eightcol {
  width: 61.6%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\0000325}}
.ninecol {
  width: 74.05%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\0000328}}
.tencol {
  width: 82%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/stylesheets\/ie\.sass}line{font-family:\0000331}}
.elevencol {
  width: 91.35%;
}
