@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
	-webkit-tap-highlight-color: transparent;
}

html {
	-webkit-text-size-adjust: 100%;
}


body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hidden {
	display: none;
}

.img-responsive {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}

body {
		font-family: 'Lato', Calibri, Arial, sans-serif;
		color: #f2ede3;
		background: #333;
		font-size: 0.9em;
		font-weight: 300;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;

}

a {
	color: #f2ede3;
	text-decoration: none;
	font-weight: 700;
	-moz-transition: color .2s ease .0;
	-webkit-transition: color .2s ease .0;
	transition: color .2s ease .0;
}

a:hover {
	color: #fff;
	cursor: pointer;
}

.container { height: 100%; }


.bl-main > section .icon-cancel {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	display: block;
	line-height: 1em;
	padding: 5px;
}

.bl-main > section .icon-cancel:hover {
	text-shadow: 0 2px 0 rgba(0,0,0,.2);
}

.bl-main > section .icon-cancel:active {
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.icon-cancel:before {
	font-size: 2.5em;
	margin-bottom: 0px;
	line-height: 1em;
}

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: #EC6144;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background: #333;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #2b3447;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #22B573;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 1px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 2em;
}

.bl-content,
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50px;
	left: 5%;
	right: 0px;
	bottom: 10px;
	padding: 0 5% 0 0;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 36px;
	font-size: 1.7em;
	line-height: 1.5em;
}

.bl-content h2 {
	letter-spacing: 1px;
	font-size: 3em;
	font-weight: 400;
	margin: 0 0 20px 0;
}

.bl-content h3 {
	letter-spacing: 1px;
  font-size: 1.7em;
  font-weight: 700;
	margin: 0 0 20px 0;
}

h3.work-category {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	padding-top: 20px;
	font-size: 1.7em;
	border-bottom: 1px dotted rgba(255,255,255,.2);
	line-height: 2em;
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bl-work-item {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	width: calc((100% / 4) - 23px);
}

.bl-work-item > div,
.bl-work-item > a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
	-moz-transition: border-color .3s ease .0;
	-webkit-transition: border-color .3s ease .0;
	transition: border-color .3s ease .0;
}
.bl-work-item > div:hover,
.bl-work-item > a:hover {
	border: 8px solid #f2ede3;
	cursor: pointer;
}

.bl-work-item img {
	display: block;
	max-width: 100%;
}

.social-media a[class*='icon-'] {
	border: none;
	font-size: 3em;
	line-height: 1em;
	margin-right: 10px;
}
.social-media a[class*='icon-']:last-child {
	margin-right: 0;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	/*width: 100%;*/
	margin: 0 auto;
	opacity: 1;
	bottom: 70px;
	top: 60px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 400;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
	line-height: 1.5em;
	margin-top: 0;
}

.img-portrait {
	border-radius: 50%;
	display: inline-block;
	border: 8px solid rgba(0,0,0,0.1);
	max-width: 80%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #333333;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 100%;
	left: 0;
	top: 0px;
	opacity: 0;
	padding: 0 20px;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 0 20px 0 0;
}

div.bl-panel-items nav * {
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -50px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #EC6144;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #333333;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #2b3447;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #22B573;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.bl-content,
.icon-cancel {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .icon-cancel {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}
div.bl-panel-items.bl-panel-items-show nav .icon-cancel {
	display: inline-block;
	margin: 0;
	height: 29px;
	float: right;
}

div#bl-panel-work-items.bl-panel-items > div > div {
	top: 30px;
}

.bl-box [class*='icon-']:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-box .icon-rocket:before {
	transform: rotate(45deg);
}

.bl-show-work {

}
.bl-show-work-image {
	width: 45%;
	float: left;
	margin-right: 5%;
}
.bl-show-work-image > img {
	display: block;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-show-work-description {
	width: 50%;
	float: left;
}

.bl-work-item a.bl-work-customer {
	height: 180px;
  display: -webkit-flex; /* Safari */
  display: flex;
}

.bl-work-item a.bl-work-customer > img {
	-moz-transition: opacity .3s ease-in .0;
	-webkit-transition: opacity .3s ease-in .0;
	transition: opacity .3s ease-in .0;
	max-width: none;
	display: inline-block;
	width: 80%;
	margin: 0 auto;
	opacity: .6;
}

.bl-work-item a.bl-work-customer:hover > img {
	opacity: 1;
}
.lead {
	margin: 0 auto;
	line-height: 1.5em;
	width: 80%;
	margin-bottom: 40px;
}

.lead > h1 {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 100;
	line-height: 1.3em;
}

.bl-benefits {
	display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin-bottom: 80px;
}

.bl-benefits-head {
	width: 100%;
  text-align: center;
  color: rgba(0,0,0,.1);
}

.bl-benefit {
	-webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 40px;
}

.bl-benefit > h4 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
}

.team-member-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
	margin-bottom: 60px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
	border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 60px;
}

.team-member-container--full {
  max-width: none;
  width: 100%;
}

.team-member-container:last-child {
	border: 0;
}

.team-member-container--reverse {
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
}

.team-member-container--reverse .team-member-img {
	text-align: right;
}

.team-member-img,
.team-member-infos {
	-webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

.team-member-infos {
	width: 60%;
}

.team-member-img {
	width: 40%;
  text-align: left;
}

.job-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0,0,0,.1);
  margin: 10px 0;
  text-align: center;
  width: 80%;
}

.styled-list {
	font-size: 1.7em;
	line-height: 2em;
}


@media screen and (max-width: 767px) {
	div.bl-panel-items > div.bl-show-work > div .bl-show-work-description p {
		font-size: 1.1em;
	}
	.bl-show-work-description,
	.bl-show-work-image {
		float: none;
		width: 100%;
	}
	.bl-show-work-image {
		margin-right: 0;
		margin-bottom: 40px;
	}
	.team-member-container {
		max-width: none;
	}
	.team-member-infos {
  	width: 70%;
	}
	.team-member-img {
  	width: 30%;
  }

	.bl-work-item {
		width: calc((100% / 2) - 22px);
	}

	.img-decorator {
		clear: both;
		max-width: 300px;
		margin: 0 auto 20px auto;
		float: none;
		max-height: 300px;
	}
	.job-title {
		font-size: 14px;
	}
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}
	#bl-contact .bl-content {
		width: 100%;
	}

	.bl-content,
	div.bl-panel-items > div > div {
		left: 0;
		right: 0;
		padding: 20px;
		top: 0;

	}
	#bl-about:before,
	#bl-about:after {
			top: 0px;
	}
}


@media screen and (max-width: 600px) {
	.bl-benefits {
		display: block;
	}
	.lead {
		width: 100%;
	}

	.bl-work-item {
		width: 100%;
	}
	.team-member-container {
  	max-width: none;
  	display: block;
	}
	.team-member-infos {
		width: 100%;
	  text-align: center;
	}
	.team-member-container--reverse .team-member-img,
	.team-member-img {
		width: 80%;
  	margin: 0 auto;
  	text-align: center;
	}
	.social-media a[class*='icon-'] {
		font-size: 4em;
	}
	.bl-content .team-member-container h2,
	.bl-content .team-member-container h3 {
		margin: 20px 0;
	}
	.styled-list {
		list-style: none;
		padding: 0;
	}
}

