@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}


body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

}

a {
	color: #EFEFEF;
	text-decoration: none;
	font-weight: 700;
/*  text-transform: uppercase;*/
}

a:hover {
	color: #fff;
}

.container { height: 100%; }


.bl-main > section .icon-cancel {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	display: block;
	line-height: 1em;
	padding: 5px;
}

.bl-main > section .icon-cancel:hover {
	text-shadow: 0 2px 0 rgba(0,0,0,.2);
}

.bl-main > section .icon-cancel:active {
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.icon-cancel:before {
	font-size: 2.5em;
	margin-bottom: 0px;
  line-height: 1em;
}

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: #EC6144;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background: #333;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #2b3447;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #22B573;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 1px;
	font-weight: 100;
	text-transform: uppercase;
  line-height: 2em;
}

.bl-content,
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50px;
	left: 5%;
	right: 0px;
	bottom: 10px;
	padding: 0 5% 0 0;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 36px;
	font-size: 1.7em;
	line-height: 1.7em;
  letter-spacing: 1px;
}

.bl-content h2 {
	font-size: 3em;
	font-weight: 400;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3,
h3.work-category {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.7em;
}

h3.work-category {
  border-bottom: 1px dotted rgba(255,255,255,.2);
  margin-bottom: 20px;
  line-height: 2em;
}

.bl-content article a {
	color: rgb(255,255,255);
	color: rgba(255,255,255,.8);
  border-bottom: 1px solid rgba(255,255,255,.8);
  -moz-transition: all .2s ease .0;
  -webkit-transition: all .2s ease .0;
  transition: all .2s ease .0;
}

.bl-content article a:hover {
	color: rgb(255,255,255);
  border-bottom: 1px solid rgb(255,255,255);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bl-content > ul li {
	display: inline-block;
	margin-right: 20px;
  margin-bottom: 20px;
  width: calc((100% / 4) - 23px);
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

ul#social-media > li a[class*='icon-'] {
  border: none;
  font-size: 3em;
  line-height: 3em;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 100%;
	margin: 0 auto;
	opacity: 1;
	bottom: 70px;
	top: 60px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 400;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
  letter-spacing: 1px;
	padding-bottom: 15px;
	line-height: 1.8em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}
.right-col {
  float: right;
  width: 60%;
}
img.self-portrait {
	float: left;
	margin: 10px 2% 20px 0;
	max-width: 38%;
  display: block;
  border: 8px solid rgba(0,0,0,0.1);
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #333333;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 100%;
	left: 0;
	top: 0px;
	opacity: 0;
  padding: 0 20px;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 0 20px 0 0;
}

div.bl-panel-items nav * {
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -50px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #EC6144;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #333333;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #2b3447;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #22B573;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.bl-content,
.icon-cancel {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .icon-cancel {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}
div.bl-panel-items.bl-panel-items-show nav .icon-cancel {
  display: inline-block;
  margin: 0;
  height: 29px;
  float: right;
}
#bl-contact .bl-content {
  width: 60%;
}
#bl-services article {
  border-bottom: 1px dotted rgba(255,255,255,.2);
  overflow: hidden;
}
#bl-services article .service {
  display: block;
}
.img-decorator {
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 8px solid rgba(0,0,0,0.1);
	float: left;
	margin: 20px 10% 20px 0;
	max-width: 30%;
}

div#bl-panel-work-items.bl-panel-items > div > div {
  top: 30px;
}

.bl-box [class*='icon-']:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-box .icon-rocket:before {
	transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
/*#bl-services article .service*/
  .bl-content > ul li {
    width: calc((100% / 2) - 22px);
  }

  img.self-portrait {
    clear:both;
    max-width: 60%;
    margin: 0 auto 20px auto;
    float: none;
  }
  .img-decorator {
    clear: both;
    max-width: 300px;
    margin: 0 auto 20px auto;
    float: none;
    max-height: 300px;
  }
  .right-col {
    width: 100%;
  }
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}
  #bl-contact .bl-content {
    width: 100%;
  }
  ul#social-media > li a[class*='icon-'] {
    font-size: 2.6em;
  }
  ul#social-media > li {
    margin-right: 5%;
  }
  ul#social-media > li:last-child {
    margin-right: 0;
  }

  .bl-content,
  div.bl-panel-items > div > div {
  	left: 0;
  	right: 0;
  	padding: 20px;
    top: 0;

  }
  #bl-about:before,
  #bl-about:after {
    	top: 0px;
  }
}


@media screen and (max-width: 459px) {
  .bl-content > ul li {
    width: 100%;
  }
}
