<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Kontakt über araso.de:</p>
    <p>
      <b>Name:</b>
      <span>
        <%= @contact.sender_name -%>
      </span>
    </p>
    <p>
      <b>Nachricht:</b>
      <%= @contact.content -%>
    </p>
  </body>
</html>