<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Kontakt über araso.de:</p>
    </br>
    </br>
    <b>Name:</b>
    <span>
      <%= @sender.sender_name -%>
    </span>
    <b>Nachricht:</b>
    <p>
      <%= @sender.content -%>
    </p>
  </body>
</html>