/* CSS Resets */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\000034}}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\000039}}
article, aside {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000312}}
figure {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000314}}
figure img {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000317}}
figcaption, hgroup, footer, header, nav, section, video, object {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000320}}
a img {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000323}}
figure {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000325}}
figure img {
  width: 100%;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com */
/* ==================================================================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000332}}
.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000336}}
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/\.rvm\/gems\/ruby-1\.9\.3-p448\/gems\/compass-0\.11\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000343}}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000349}}
.row .onecol {
  width: 4.85%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000351}}
.row .twocol {
  width: 13.45%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000353}}
.row .threecol {
  width: 22.05%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000355}}
.row .fourcol {
  width: 30.75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000357}}
.row .fivecol {
  width: 39.45%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000359}}
.row .sixcol {
  width: 48%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000361}}
.row .sevencol {
  width: 56.75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000363}}
.row .eightcol {
  width: 65.4%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000365}}
.row .ninecol {
  width: 74.05%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000367}}
.row .tencol {
  width: 82.7%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000369}}
.row .elevencol {
  width: 91.35%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000371}}
.row .twelvecol {
  width: 100%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000375}}
.last {
  margin-right: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000378}}
img, object, embed {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000381}}
img {
  height: auto;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000387}}
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000394}}
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\0000397}}
  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\00003105}}
  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/burza\/Dropbox\/my_projects\/Code\/araso\.de\/app\/assets\/stylesheets\/1140\.sass}line{font-family:\00003114}}
  .row .twelvecol .onecol, .row .twelvecol .twocol, .row .twelvecol .threecol, .row .twelvecol .fourcol, .row .twelvecol .fivecol, .row .twelvecol .sixcol, .row .twelvecol .sevencol, .row .twelvecol .eightcol, .row .twelvecol .ninecol, .row .twelvecol .tencol, .row .twelvecol .elevencol, .row .twelvecol .twelvecol {
    padding-left: 0px;
    padding-right: 0px;
  }
}
