%h1 Web banner

%h2.-sg Rectangles and Pop-Ups

.-sg-medium-rectangle-ad.dummy
  Medium Rectangle (300px – 250px)

%br

.-sg-square-pop-up-ad.dummy
  Square Pop-Up (250px – 250px)

%br

.-sg-vertical-rectangle-ad.dummy
  Vertical Rectangle (240px – 400px)

%br

.-sg-large-rectangle-ad.dummy
  Large Rectangle (336px – 280px)

%br

.-sg-rectangle-ad.dummy
  Rectanlge (180px – 150px)

%br

.-sg-three-one-rectangle-ad.dummy
  3:1 Rectangle (300px – 100px)

%br

.-sg-pop-under-ad.dummy
  Pop-Under (720px – 300px)

%h2.-sg Bannery and Buttons

.-sg-full-banner-ad.dummy
  Full Banner (468px – 60px)

%br

.-sg-half-banner-ad.dummy
  Half Banner (234px – 60px)

%br

.-sg-micro-bar-ad.dummy
  Micro Bar (88px – 31px)

%br

.-sg-button-one-ad.dummy
  Button 1 (120px – 90px)

%br

.-sg-button-two-ad.dummy
  Button 2 (120px – 60px)

%br

.-sg-vertical-banner-ad.dummy
  Vertical Banner (120px – 240px)

%br

.-sg-square-button-ad.dummy
  Square Button (125px – 125px)

%br

.-sg-leaderboard-ad.dummy
  Leaderboard (728px – 90px)

%h2.-sg Skyscrapers

.-sg-wide-skyscraper-ad.dummy
  Wide Skyscraper (160px – 600px)

%br

.-sg-skyscraper-ad.dummy
  Skyscraper (120px – 600px)

%br

.-sg-half-page-ad.dummy
  Half Page (300px – 600px)
