%h2.-sg Standard buttons (button, link, input)

%button.btn-standard Standard
%a.btn-standard{:href => "#"} Standard
%input.btn-standard{:type => "submit", :value => "Standard"}
Following text.

%hr.-sg

%button.btn-standard.disabled Standard
%a.btn-standard.disabled{:href => "#"} Standard
%input.btn-standard.disabled{:type => "submit", :value => "Standard"}
Following text.


%h2.-sg Recommended buttons (button, link, input)

%button.btn-recommended Recommended
%a.btn-recommended{:href => "#"} Recommended
%input.btn-recommended{:type => "submit", :value => "Recommended"}
Following text.

%hr.-sg

%button.btn-recommended.disabled Recommended
%a.btn-recommended.disabled{:href => "#"} Recommended
%input.btn-recommended.disabled{:type => "submit", :value => "Recommended"}
Following text.


%h2.-sg Call-to-action buttons (button, link, input)

%button.btn-cta Call-to-action
%a.btn-cta{:href => "#"} Call-to-action
%input.btn-cta{:type => "submit", :value => "Call-to-action"}
Following text.

%hr.-sg

%button.btn-cta.disabled Call-to-action
%a.btn-cta.disabled{:href => "#"} Call-to-action
%input.btn-cta.disabled{:type => "submit", :value => "Call-to-action"}
Following text.

%hr.-sg

%button.btn-cta-big Call-to-action
%a.btn-cta-big{:href => "#"} Call-to-action
%input.btn-cta-big{:type => "submit", :value => "Call-to-action"}
%span.typo-large Following text.

%hr.-sg

%button.btn-cta-big.disabled Call-to-action
%a.btn-cta-big.disabled{:href => "#"} Call-to-action
%input.btn-cta-big.disabled{:type => "submit", :value => "Call-to-action"}
%span.typo-large Following text.
