.-components
  %h1 (Keyboard-)Selectiontable
  %ul.selectiontable(tabindex=0)
    %li.item foo
    %li unimportant
    %li.item.current bar
    %li unimportant
    %li.item aaa
    %li.item bbb
    %li.action Action: do something
    %li.action Action: do something else

  %h1 Autocomplete
  .mm-autocomplete
    %input(type='text' id="autocomplete-test")
    .autocomplete-popup
      a
      %br
      b
      %br
      c

  %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

  %h4 Worth Looking at:
  %ul
    %li
      %a(href="http://www.w3.org/WAI/PF/aria-practices/") Aria Practices
    %li
      %a(href="http://dev.aol.com/dhtml_style_guide") Widget Keyboard Shortcuts

