.feedback.success
  %p.last Aktion erfolgreich durchgeführt.

.feedback.notice
  %p.last Die Kreditkartendaten werden sicher übertragen.

.feedback.error
  %p.last Es ist etwas schiefgelaufen.

#load-indicator
  .animation