%h2.-sg Recommended buttons with icons (button, link)

%button.btn-recommended.add<
  %span Recommended
%a.btn-recommended.add{:href => "#"}<
  %span Recommended
Following text.

%hr.-sg

%button.btn-recommended.add.disabled<
  %span Recommended
%a.btn-recommended.add.disabled{:href => "#"}<
  %span Recommended
Following text.

%hr.-sg

%button.btn-cta-big.add<
  %span Call-to-action
%a.btn-cta-big.add{:href => "#"}<
  %span Call-to-action
%span.typo-large Following text.

%hr.-sg

%button.btn-cta-big.add.disabled<
  %span Call-to-action
%a.btn-cta-big.add.disabled{:href => "#"}<
  %span Call-to-action
%span.typo-large Following text.
