.-sg-baseline-debug

  %table.baseline{:cellspacing => "0"}
    %caption
      %h4 Strict Baseline Table
    %thead
      %tr
        %th Rang
        %th Name
        %th Millionen<br />Einwohner
        %th Land
        %th Kontinent
    %tbody
      %tr.odd.first
        %td.center 1.
        %td Tokio-Yokohama
        %td.right 35-40
        %td Japan
        %td Asien
      %tr.even
        %td.center 2.
        %td Mexiko-Stadt
        %td.right 25-30
        %td Mexico
        %td Nordamerika
      %tr.odd
        %td.center 3.
        %td New York
        %td.right 20-25
        %td Vereinigte Staaten
        %td Nordamerika
      %tr.even
        %td.center 4.
        %td Seoul
        %td.right 15-25
        %td Südkorea
        %td Asien
      %tr.odd
        %td.center 5.
        %td Mumbai
        %td.right 15-25
        %td Indien
        %td Asien
      %tr.even
        %td.center 6.
        %td São Paulo
        %td.right 15-25
        %td Brasilien
        %td Südamerika
      %tr.odd
        %td.center 7.
        %td Manila
        %td.right 15-25
        %td Philippinen
        %td Asien
    %tfoot
      %tr
        %td Total
        %td &nbsp;
        %td.right 140-195
        %td{:colspan => 2} &nbsp;

  %table.standard{:cellspacing => "0"}
    %caption
      %h4 Standard Table
    %thead
      %tr
        %th Rang
        %th Name
        %th Millionen<br />Einwohner
        %th Land
        %th Kontinent
    %tbody
      %tr.odd.first
        %td.center 1.
        %td Tokio-Yokohama
        %td.right 35-40
        %td Japan
        %td Asien
      %tr.even
        %td.center 2.
        %td Mexiko-Stadt
        %td.right 25-30
        %td Mexico
        %td Nordamerika
      %tr.odd
        %td.center 3.
        %td New York
        %td.right 20-25
        %td Vereinigte Staaten
        %td Nordamerika
      %tr.even
        %td.center 4.
        %td Seoul
        %td.right 15-25
        %td Südkorea
        %td Asien
      %tr.odd
        %td.center 5.
        %td Mumbai
        %td.right 15-25
        %td Indien
        %td Asien
      %tr.even
        %td.center 6.
        %td São Paulo
        %td.right 15-25
        %td Brasilien
        %td Südamerika
      %tr.odd
        %td.center 7.
        %td Manila
        %td.right 15-25
        %td Philippinen
        %td Asien
    %tfoot
      %tr
        %td Total
        %td &nbsp;
        %td.right 140-195
        %td{:colspan => 2} &nbsp;


  %table.striped{:cellspacing => "0"}
    %caption
      %h4 Striped Table
    %thead
      %tr
        %th Rang
        %th Name
        %th Millionen<br />Einwohner
        %th Land
        %th Kontinent
    %tbody
      %tr.odd.first
        %td.center 1.
        %td Tokio-Yokohama
        %td.right 35-40
        %td Japan
        %td Asien
      %tr.even
        %td.center 2.
        %td Mexiko-Stadt
        %td.right 25-30
        %td Mexico
        %td Nordamerika
      %tr.odd
        %td.center 3.
        %td New York
        %td.right 20-25
        %td Vereinigte Staaten
        %td Nordamerika
      %tr.even
        %td.center 4.
        %td Seoul
        %td.right 15-25
        %td Südkorea
        %td Asien
      %tr.odd
        %td.center 5.
        %td Mumbai
        %td.right 15-25
        %td Indien
        %td Asien
      %tr.even
        %td.center 6.
        %td São Paulo
        %td.right 15-25
        %td Brasilien
        %td Südamerika
      %tr.odd
        %td.center 7.
        %td Manila
        %td.right 15-25
        %td Philippinen
        %td Asien
    %tfoot
      %tr
        %td Total
        %td &nbsp;
        %td.right 140-195
        %td{:colspan => 2} &nbsp;
