.-sg-main-col.-sg-baseline-debug

  %section.column.width2.first.stroke
    %h1 Title &mdash; h1
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

    %h2 Subtitle &mdash; h2
    %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

    %h3 Subtitle &mdash; h3
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

    %h4 Subtitle &mdash; h4
    %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

    %h5 Subtitle &mdash; h5
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

    %h6 Subtitle &mdash; h6
    %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

    %ul
      %li List item 01
      %li List item 02
      %li List item 03
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

    %blockquote{:cite => "http://www.projeturbain.com"}
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

    %p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    %hr/
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

  %section.column.width2.stroke
    %h2 Lists
    %h3 Ordered list
    %ol
      %li List item
      %li List item
      %li
        List item
        %ol
          %li List item level 2
          %li
            List item level 2
            %ol
              %li List item level 3
              %li List item level 3
    %h3 Unordered list
    %ul
      %li List item 01
      %li List item 02
      %li
        List item 03
        %ul
          %li List item level 2
          %li
            List item level 2
            %ul
              %li List item level 3
              %li List item level 3
    %h3 Definition List
    %dl
      %dt Last modified time
      %dd 2004-12-23T23:33Z
      %dt Recommended update interval
      %dd 60s
      %dt Authors
      %dt Editors
      %dd Robert Rothman
      %dd Daniel Jackson
    %h2 Grouping content
    %pre
      :preserve
        A demo of preformatted text.

                      .'  '.
                     :      :
                     | _  _ |
                  .-.|(o)(o)|.-.        _._          _._
                 ( ( | .--. | ) )     .',_ '.      .' _,'.
                  '-/ (    ) \-'     / /' `\ \ __ / /' `\ \
                   /   '--'   \     / /     \.'  './     \ \
                   \ `"===="` /     `-`     : _  _ :      `-`
                    `\      /'              |(o)(o)|
                      `\  /'                |      |
                      /`-.-`\_             /        \
                _..:;\._/V\_./:;.._       /   .--.   \
              .'/;:;:;\ /^\ /:;:;:\'.     |  (    )  |
             / /;:;:;:;\| |/:;:;:;:\ \    _\  '--'  /__
        jgs / /;:;:;:;:;\_/:;:;:;:;:\ \ .'  '-.__.-'   `-.

    %blockquote{:cite => "http://www.projeturbain.com"}
      %p<
        Duis autem vel eum iriure dolor in hendrerit in
        = succeed "," do
          %q vulputate velit esse molestie consequat
        vel illum dolore eu feugiat nulla facilisis.
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.


.-sg-aside-col.-sg-baseline-debug
  %h2 Links
  %p
    %a{:href => "#"} Link (a)
    %br
    %a.hover{:href => "#"} Link (a:hover)
    %br
    %a.active{:href => "#"} Link (a:active)
    %br
    %a.visited{:href => "#"} Link (a:visited)
    %br
    %a.focus{:href => "#"} Link (a:focus)
  %h2 Text-level semantics
  %p
    I must say I <em>adore</em> lemonade.
    %br
    This tea is <strong>very hot</strong>.
    %br
    These grapes are made into wine. <small>Alcohol is addictive.</small>
    %br
    The case <cite>Hugo v. Danielle</cite> is relevant here.
    %br
    The judge said <q>You can drink water from the fish tank</q> but advised against it.
    %br
    The term <dfn>organic food</dfn> refers to food produced without synthetic chemicals.
    %br
    Organic food in Ireland is certified by the <abbr title="Irish Organic Farmers and Growers Association">IOFGA</abbr>.
    %br
    The <code>fruitdb</code> program can be used for tracking fruit production.
    %br
    If there are <var>n</var> fruit in the bowl, at least <var>n</var>รท2 will be ripe.
    %br
    The computer said <samp>Unknown error -3</samp>.
    %br
    Hit <kbd>F1</kbd> to continue.
    %br
    Water is H<sub>2</sub>O.
    %br
    The Hydrogen in heavy water is usually <sup>2</sup>H.
    %br
    Lemonade consists primarily of <i>Citrus limon</i>.
    %br
    Take a <b>lemon</b> and squeeze it with a <b>juicer</b>.
    %br
    Elderflower cordial, with one <mark>part</mark> cordial to ten <mark>part</mark>s water, stands a<mark>part</mark> from the rest.
  %h2 Edits
  %p
    %del deleted text
    %br
    %ins inserted text

  %address contact information
