// input[type=text], textarea
//   // Browsers, where textarea and textfield style differ
//   // will have a slightly smaller textarea (namely FF Mac)
//   // Customize the whole input element set if you feel so to fix it
//   +padded-span(6, 12px)

form.standard-base
  +standard-base-typo(lighten($feedback-negative, 67%))
  +standard-base-layout

form.standard-rows
  @extend form.standard-base
  .step-content, .subglobal-errors
    width: 367px
  .step-hint
    width: 143px
  input[type=text], input[type=password],input[type=email] , textarea
    font-size: $font-size-large
    +font-family
form.standard-columns-left
  @extend form.standard-rows

form.standard-columns-right
  @extend form.standard-columns-left
  .step-title
    text-align: right

