//    color: #A4EE00


header
  font-size: 18px
  padding: $line-height * 2 0px $line-height * 2 0px
  position: relative
  canvas
    position: absolute
    right: 0px
    top: 36px
  a
    color: $font-color
    &:visited, &.visited
      color: $font-color
    &:hover, &.hover
      color: $link-hover-color
      border-bottom: 0px
    &:active, &.active
      color: $link-active-color
  h1
    +font-metrics(60px, 60px)
    font-family: 'DroidSerifBoldItalic'
    margin-bottom: 0px
.logo
  text-transform: uppercase
  color: $font-color
.additional
  letter-spacing: -1px

nav
  color: $font-color
  line-height: $line-height * 2
  ol
    +horizontal-list
