.facets
  line-height: $line-height * 2
.address
  text-align: right

.aspect
  &.small
    font-size: 13px
  &.middle
    line-height: $line-height
  &.large
    font-size: 17px
p
  overflow: hidden
  h1, h2, h3
    display: inline
    +typo-large
.portrait
  +box-shadow($darkest-grey, 0px, 0px, 2px)
  position: relative
  figcaption
    background: rgb(0,0,0)
    background: rgba(255,255,255,.8)
    display: block
    position: absolute
    bottom: 0px
    width: 100%
    line-height: 2 * $line-height
    text-align: center
    opacity: 0
    text-shadow: none
    -webkit-transition: opacity .5s ease-in-out
    -moz-transition: opacity .5s ease-in-out
    -o-transition: opacity .5s ease-in-out
    transition: opacity .5s ease-in-out
  &:hover figcaption
    opacity: 1

.about
  article
    margin-bottom: $line-height * 2
    figure
      +box-shadow($darkest-grey, 0px, 0px, 2px)

footer
  +font-decorative
  +typo-large
  line-height: $line-height * 3
  text-align: right
  ol
    +horizontal-list
    li
      margin-right: 10px
  .social-media
    text-align: center
  .copyright
    color: $medium-grey
  .twitter span
    color: #2299CC