.facets
  +column(7, true)
  line-height: $line-height * 2
.address
  +column(5, true)
  text-align: right

.aspect
  &.small
    font-size: 13px
  &.middle
    line-height: $line-height
  &.large
    font-size: 17px

figure
  display: block
  width: 180px
  height: 265px
  &.home
    background: transparent image_url('home.png') no-repeat
  &.person
    background: transparent image_url('person.png') no-repeat
  &.schwerpunkte
    background: transparent image_url('schwerpunkte.png') no-repeat
  &.kosten 
    background: transparent image_url('kosten.png') no-repeat
  