.facets
  +column(7, true)
  line-height: $line-height * 2
.address
  +column(5, true)
  text-align: right

.aspect
  &.small
    font-size: 13px
  &.middle
    line-height: $line-height
  &.large
    font-size: 17px

figure.home
  +float-right
  margin: 5px
  display: block
  width: 370px
  height: 245px
  +border-radius(10px)
  +box-shadow(#222, 0px, 0px, 5px)
  background: transparent image_url('greg.png') 0px -20px no-repeat

footer
  line-height: 3 * $line-height
  ol
    +float-left
    +horizontal-list
  text-align: right