@media (min-device-width:1024px) and (max-width:800px), screen and (max-device-width:480px), (max-device-width:480px) and (orientation:landscape), (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait)

  $blueprint_grid_columns: 16
  $blueprint_grid_width: 20px
  $blueprint_grid_margin: 10px

  body
    background-color: red
  
  #container
    +column(16, true)
    +showgrid($image)
    min-height: 150px
    margin: 0px auto
    float: none
    display: block
    +clearfix
    header
      +column(16, true)
    #center
      +column(16, true)
      aside
        width: 100%
        border: 1px solid red
      .content
        +column(8)
    footer
      +column(16, true)
  