@media (min-device-width:1024px) and (max-width:800px), screen and (max-device-width:480px), (max-device-width:480px) and (orientation:landscape), (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait)

  $blueprint_grid_columns: 16
  $blueprint_grid_width: 20px
  $blueprint_grid_margin: 10px

  #container
    +column(16, true)
    min-height: 150px
    margin: 0px auto
    float: none
    display: block
    +clearfix
    header
      +column(16, true)
      .logo
        float: none
        display: block
        margin: 0px auto
        width: 210px
        overflow: visible
        margin-bottom: $line-height * 2
      .claim
        display: block
        float: none
      nav
        ol
          float: none
          display: block
          text-align: center
          li
            float: none
            margin-left: 0px
            display: inline-block
    #center
      +column(16, true)
      margin-bottom: $line-height
      form.standard-ipad
        $error-message-padding: 10px
        padding: 0
        width: 100%
        ol, ul
          +reset-list
        li
          +reset-box-model
          +pie-clearfix
          padding:
            top: 5px
            bottom: 5px
          margin-bottom: 2px
        .step-title
          display: block
          float: none
          text-align: left
        .step-content
          +pie-clearfix
          padding-left: 0px
          float: none
        .step-hint
          float: none
        li .substep
          float: none
        .subglobal-errors
          float: none
        .error
          padding: 0px
          margin: 0px
        input[type=text], input[type=password], textarea
          font-size: $font-size-large
          +font-family
      aside
        +column(16, true)
        figure.home
          float: none
          display: block
          margin: 0px auto
      .content, .two-col-content
        +column(16, true)
        margin: 0 auto
        margin-bottom: $line-height * 2
        display: block
        float: none
        p
          padding-left: 10px
        .project
          +column(6)
          margin-left: 10px
          > figure a
            width: 170px
            height: 118px
            overflow: hidden
            img
              width: 170px
  
    footer  
      +column(16, true)
      text-align: center
      ol
        display: block
        float: none
        text-align: center
        li
          float: none
          display: inline-block
  h1
    padding-left: 10px

  .about
    > article
      +column(16, true)
    figure
      margin-right: 20px
      margin-left: 10px