/* ==============================
/* ! Layout for desktop version
/* ==============================

body
  background: #efefef image_url('araso_bg8.png') top center repeat-x
  .resize
    position: fixed
    bottom: 0px
    right: 0px
#center
  padding:
    top: $line-height * 2 !important
    bottom: $line-height * 2 !important
  border-top: 1px solid rgb(255,255,255)
  border-top: 1px solid rgba(255,255,255,0.8)
  border-bottom: 1px solid $light-grey
  position: relative
footer
  border-top: 1px solid rgb(255,255,255)
  border-top: 1px solid rgba(255,255,255,0.8)
  
/* =============================
/* ! Layout for mobile version
/* =============================

@media handheld, only screen and (max-width: 767px)
  body
    .resize
      display: none
  .logo, nav
    text-align: center
  
  .logo
    a
      font-size: 4em !important
    .claim
      font-size: 1em !important
  header nav ol
    float: none
    margin: 0px auto
    li
      float: none !important
      display: block
      margin:
        bottom: $line-height / 2
        left: 0px
  .home, .about
    a
      color: $link-color !important

  .project figure
    figcaption
      opacity: 1
    h3
      font-size: $font-size-large
    .info
      font-size: $font-size
  
  form.standard-columns-right
    .step-title
      text-align: left
    input[type=text], input[type=password],input[type=email] , textarea
      width: 95%
  
  
  footer
    +font-decorative
    +typo-large
    line-height: $line-height * 3
    ol
      text-align: center
      margin: 0 auto
      li
        float: none !important
    .copyright
      text-align: center
/* ==========================================
/* ! Provide higher res assets for iPhone 4
/* ==========================================

@media only screen and (-webkit-min-device-pixel-ratio: 2)
  /*	.logo {
   *		background: url(logo2x.jpg) no-repeat;
   *		background-size: 212px 303px;
   *	}