.project
  +linear-gradient(color-stops($darkest-grey, $darkest-grey 60%, $dark-grey))
  margin-bottom: $line-height
  > figure
    margin: 0 0 $line-height / 2 0
    padding: 0
    a
      display: block
      height: 125px
      width: 180px
      +box-shadow(#000, 0px, 1px, 3px)
      &:hover
        border: none
  h2, h3
    padding: $line-height / 2
    margin-bottom: 0px
    line-height: 1em
  .info
    +typo-small
    height: $line-height * 2
    padding: 
      top: 0px
      left: $line-height / 2
      right: $line-height / 2
      bottom: $line-height / 2
