- content_for :meta_keywords, "web-design, web-entwicklung, hamburg, konzeption, agile, mindmatters, rails, web-anwendungen, projekte, mobile"
- content_for :meta_description, "Web-Designer aus Hamburg entwickelt und Gestaltet Web-Anwendungen aus Hamburg mit agilen Methoden."

%section.content.sevencol
  %article
    %h1 Web-Design aus Hamburg...
    %p Ich konzipiere und gestalte Web-Applikationen mit den aktuellsten Web-Standards. 
  %article
    %h1 Agil...
    %p Bei meiner Arbeit bewege ich mich auf einem agilen Pfad. 
  %article 
    %h1 Einfach, Flexibel und Mobil...
    %p sind Eigenschaften auf die ich bei meiner Arbeit besonderen Wert lege.
  // durch meine arbeit überwinde ich das große hindernis zwischen design-agenturen und softwareschmieden indem ich mehr web-design und weniger grafik-design praktiziere.
%aside.fivecol.last
  %figure
    %img{ :src => "images/greg.png"}
    %figcaption 
      Ich bin Web-Designer bei
      = link_to "mindmatters", "http://www.mindmatters.de"
      = "..."
    