%section.content
  %p 
    Ein 
    %strong Web-Designer aus Hamburg
    , konzipiert und gestalltet Web-Applikationen mit den aktuellsten Web-Standards. 
  %p 
    Bei meiner arbeit bewege ich mich auf einem sich ständig ändernden 
    %strong agilen Pfad.
  %p 
    %strong Einfachheit
    , Flexibilität und Mobilität sind dabei Eigenschaften auf die ich besonderen wert lege.
  %p 
    Zur Zeit bin ich als Web-Designer bei der
    = link_to "mindmatters GmbH", "http://www.mindmatters.de"
    angestellt.
  // durch meine arbeit überwinde ich das große hindernis zwischen design-agenturen und softwareschmieden indem ich mehr web-design und weniger grafik-design praktiziere.
%aside
  %figure.home