%section.content
  %article
    %h1 Web-Design aus Hamburg...
    %p Ich konzipiere und gestallte Web-Applikationen mit den aktuellsten Web-Standards. 
  %article
    %h1 Agile...
    %p Bei meiner Arbeit bewege ich mich auf einem sich ständig ändernden agilen Pfad. 
  %article 
    %h1 Einfach, Flexibel und Mobile...
    %p Sind Eigenschaften auf die ich bei meiner Arbeit besonderen Wert lege.
  // durch meine arbeit überwinde ich das große hindernis zwischen design-agenturen und softwareschmieden indem ich mehr web-design und weniger grafik-design praktiziere.
%aside
  %figure.home
    %figcaption 
      Ich bin Web-Designer bei
      = link_to "mindmatters", "http://www.mindmatters.de"
      = "..."
    