%p 
  Ein 
  %strong Web-Designer aus Hamburg
  , konzipiert und gestalltet Web-Applikationen mit den aktuellsten Web-Standards. 
%p 
  Bei meiner arbeit bewege ich mich auf einem sich ständig ändernden 
  %strong agilen Pfad.
%p 
  %strong Einfachheit
  , Flexibilität und Mobilität sind dabei Eigenschaften auf die ich besonderen wert lege.
// durch meine arbeit überwinde ich das große hindernis zwischen design-agenturen und softwareschmieden indem ich mehr web-design und weniger grafik-design praktiziere.
- content_for :sidebar do
  %figure.home