- content_for :title, "Agile Rails Solutions - Datenschutz"
- content_for :meta_keywords, "web-design, web-entwicklung, hamburg, konzeption, agile, mindmatters, rails, web-anwendungen, projekte, mobile"
- content_for :meta_description, "Web-Designer aus Hamburg entwickelt und Gestaltet Web-Anwendungen aus Hamburg mit agilen Methoden."

%h1 Hinweise zum Datenschutz

%p Ihr Vertrauen ist mir wichtig. Deshalb respektiere ich den Datenschutz und informieren Sie über die erhobenen und gespeicherten Daten und Ihre Rechte auf Auskunft, Berichtigung, Sperrung und Löschung.

%h2 Datenerhebung und -speicherung
%p Wenn eine Webseite besucht wird, sendet der Browser grundsätzlich Informationen über Browsertyp und Browserversion, das verwandte Betriebssystem, die Referrer-URL, die IP-Adresse, den Dateinamen, den Zugriffsstatus, die übertragene Datenmenge, das Datum und die Uhrzeit der Serveranfrage. Diese Daten sind weder einer Person noch anderen Datenquellen zuzuordnen und werden zunächst gespeichert und nach einer statistischen Auswertung gelöscht.

%h2 Cookies
%p Ihr Browser speichert zudem so genannte Cookies. Dabei handelt es sich um Dateien, die ein Surfen im Internet benutzerfreundlicher gestalten sollen. Das Speichern von Cookies kann in den Einstellungen Ihres Browsers ausgeschaltet werden.

%h2 Auskunft, Berichtigung, Sperrung und Löschung
%p Personenbezogene Daten werden nur mit Ihrer Einwilligung zur Beantwortung von Anfragen, Abwicklung von Verträgen und der technischen Administration erhoben und für Dritte unzugänglich gespeichert. Eine Weitergabe der Daten an Dritte erfolgt nur zum Zweck der Vertragsabwicklung bzw. bei Ihrer Einwilligung, welche jederzeit widerrufen werden kann. Eine Weitergabe oder ein Verkauf der personenbezogenen Daten findet nicht statt. 
%p Jederzeit kann von Ihnen Auskunft über die gespeicherten Daten, den Zweck der Speicherung und deren Herkunft verlangt werden. Zusätzlich besteht nach Maßgabe der gesetzlichen Bestimmungen ein Recht auf Berichtigung, Sperrung und Löschung der personenbezogenen Daten. Eine entsprechende Anfrage bzw. ein Begehren nach Berichtigung, Sperrung oder Löschung der personenbezogenen Daten ist über die auf der Webseite genannten Kontaktdaten möglich.

%h2 Google Analytics
%p „Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.“