- content_for :title, "Agile Rails Solutions - Impressum"
- content_for :meta_keywords, "web-design, web-entwicklung, hamburg, konzeption, agile, mindmatters, rails, web-anwendungen, projekte, mobile"
- content_for :meta_description, "Web-Designer aus Hamburg entwickelt und Gestaltet Web-Anwendungen aus Hamburg mit agilen Methoden."
%h1 Impressum

%ul
  %li Gregor Swatek
  %li Adolf-Köster-Damm 26
  %li 21035 Hamburg
  %li Telefon: +49 1512 354 12 53
  %li 
    E-Mail: 
    = mail_to "gregor.swatek@araso.de" , "gregor.swatek@araso.de"
  %li 
    Internet: 
    = link_to "www.araso.de", "http://www.araso.de"

%h3 Haftungshinweis: 
%p Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.