- content_for :title, "Agile Rails Solutions - Kontakt"
- content_for :meta_keywords, "web-design, web-entwicklung, hamburg, konzeption, agile, mindmatters, rails, web-anwendungen, projekte, mobile"
- content_for :meta_description, "Web-Designer aus Hamburg entwickelt und Gestaltet Web-Anwendungen aus Hamburg mit agilen Methoden."
%h2 Kontakt

= render 'form'